# Урок 1. Оформление ноутбука и закрепление функций и генераторов

## Условие 1

Оформляйте ноутбук, используя эти советы:

- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

Рекомендации для преподавателей по оценке задания:

- Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2

На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [13]:
def fruits_count(**fruits):
    summ = 0
    for col in fruits.values():
        summ += col
    return summ

fruits_count(яблок=230, апельсинов=77, бананов=83, ананас=1)

391

## Условие 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [14]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [15]:
sum([i for i in data if i > 0])

1425

## 4 задача

Даны два списка.

Дата покупки

In [17]:
data_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
         '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
         '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09',
         '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
         '2021-10-26', '2021-12-09']

Суммы покупок по датам

In [18]:
data_sums = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701,
          4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004,
          2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условие 4.1

Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [19]:
sum([data_sums[i] for i in range(len(data_dates)) if data_dates[i].split('-')[1] == '11'])

25098

### Условие 4.2

Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [24]:
def calc_sums_by_month(dates: list, sums: list) -> dict:
    ret = {}
    
    for i in range(len(dates)):
        m = dates[i].split('-')[1]
        if m in ret.keys():
            ret[m] += sums[i]
        else:
            ret[m] = sums[i]
            
    return ret

calc_sums_by_month(data_dates, data_sums)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}